.login-box {
    width: 400px;
    padding: 40px;
    margin: auto;
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #03e9f4;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }

  .below-login-link {
   margin-right: 20px;
    color: #03e9f4;
    font-size: 12px;
    text-decoration: none;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 20px;

  }

  .below-login-link:hover {
    transform: scale(1.1); 
    text-decoration: underline; 
}

.login-button {
    position: relative;
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 10px 30px; 
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #23a2a9; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, filter 0.3s ease; 
}

.login-button:hover {
    background-color: #029db0; 
    filter: brightness(70%);
}

.login-button-inbtw {
    position: relative;
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 10px 30px; 
    margin-bottom:30px;
    margin-top: 0px;
    background-color: #23a2a9; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, filter 0.3s ease; 
}

.login-button-inbtw:hover {
    background-color: #029db0; 
    filter: brightness(70%);
}

@media (max-width: 425px) {
    .login-box {
        width: 90%; 
        padding: 20px; 
        box-shadow: 0 10px 15px rgba(0, 0, 0, .5); 
    }

    .login-box h2 {
        font-size: 20px; 
    }

    .login-box .user-box input {
        font-size: 14px; 
    }

    .login-box .user-box label {
        font-size: 14px; 
    }

    .login-button {
        padding: 8px 20px; 
        font-size: 14px; 
    }

    .below-login-link {
        font-size: 10px;
        margin-right: 10px; 
    }
}

.profile-div {
    margin: 50px 40px;
  }
  
  .profile-left {
    max-height: 900px;
    min-height: auto; 
    height: auto;
    background-color:  #e5e5db;
    
  }


  .profile-account {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 10px;
    margin-top: 10px;
}

.profile-icon1 {
    font-size: 2.5rem;
    color: #ff1493;
}

.profile-icon2 {
    font-size: 2.5rem;
    color: #ff1493;
}


  .account-logout{
    background-color: rgb(61, 59, 59);
    color:white;
    display: flex;
    flex-direction: column;
   
    width:fit-content;
    height: 100%;
    text-align: right;
    padding: 20px;
  }

  .account-rollno{
    border-color:rgb(139, 138, 138) ;
    padding: 10px;
    
  }

  .logout-button{
    color:white;
   border: none;
    background-color: transparent;

    font-size: 0.5rem;
  }


  .list-of-grievances{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
  }

  .adding-new {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    margin: 20px;
  }
  
  .next-grievances {
    border: none;
    border-bottom: 2px solid #ff1493; 
    background-color: transparent;
    height: 50px;
    width: 900px; 
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 800;
    font-style: normal;
  }
  
  .send-button {
    padding: 10px 20px;
    border-radius: 20%;
    background-color: green;
    color: white;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 800;
    font-style: normal;
    cursor: pointer;
  }

  .next-grievances:hover,
.next-grievances:focus {
  border-bottom: 2px solid #ff1493; 
  outline: none; 
}

  .one-list-item{
    display: flex;
    flex-direction: row;
    margin: 20px;
    background-color: rgb(243, 244, 246);
    border-radius: 20px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 800;
    font-style: normal;

  }
  
  .content-list{
    flex:14;
    padding: 10px;
    
    
}

.status-list-pending{
    background-color: yellow;
    color: red;
    padding: 8px;
    border-radius: 30px;
    text-align: center;
    flex:0.8
}

.status-list-approved{
    background-color: green;
    color: white;
    padding: 8px;
    border-radius: 30px;
    text-align: center;
    flex:0.8
}
.status-list-rejected{
    background-color: red;
    color: white;
    padding: 8px;
    border-radius: 30px;
    text-align: center;
    flex:0.8
}

.delete-list{
    flex:0.2;
    padding: 8px;
    font-size: 1.5rem;
    color:rgb(0, 0, 0);
   
}

.add-list{
    margin: 20px;
}

.addling-button{
    font-size: 2rem;
    border: none;
    font-size: 2.5rem;
    color: #ff1493;
    font-weight: 800;
    font-style: normal;
    text-align: left;
   background: none;
}
  

  
  @media (max-width: 500px){
    .one-list-item {
       display: flex;
       flex-direction: column;
      }

      .adding-new {
        display: flex;
        flex-direction: column;
      }

      .next-grievances {
        width: 300px; 
      }
  }

 

