@import "../../UTILS/color.scss";
@import "../../UTILS/function.scss";

@media only screen and (min-width: 768px) {
  .main {
    // margin-top: 15vh;
    margin-bottom: 5vh;
  }
  .category {
    margin-top: 5vh;
  }
  //   .title {
  //     font-size: pxe(58);
  //     font-family: "Roboto Mono", monospace;
  //     font-weight: 400;
  //     z-index: 2;
  //     color: $white;
  //   }
  div.cards {
    margin-top: 5vh;
    display: grid;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .main {
    // margin-top: 15vh;
    margin-bottom: 5vh;
  }
  .category {
    margin-top: 5vh;
  }
  div.cards {
    margin-top: 5vh;
    display: grid;
    max-width: 100%;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
  }
}
