@import "../UTILS/color.scss";
@import "../UTILS/function.scss";


  
 
div.tech-trek2 {
      background-color: $primary;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 pxe(16);
    }


p.text1{
    font-size: 1.5rem;
    font-weight: 500;
    color: $white;
    margin-top: 20rem;
    margin-bottom: 2rem;
}
.table {
    width: 100%;
    border-collapse: collapse;
    margin: 6rem;
    color: #fff;
    
    th, td {
      border: 1px solid #fff; 
      padding: 8px;
      text-align: left;
    }
  
    th {
      background-color: #333; 
    }

    tr:hover {
      background-color: #555; 
    }
  }
  