@import "../UTILS/color.scss";
@import '../UTILS/function.scss';





footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: $black;
    padding: pxe(16) 0 0;
    height: max-content;



    div.footer-div {
        display: flex;
        justify-content: space-evenly;

        width: 100%;
        height: max-content;
        background-color: $black;
        margin: pxe(16) 0;



        div.social-div {
            display: block;
            // height: fit-content;
            width: fit-content;
            padding: 0 pxe(36);


            img.ista-logo {
                display: block;
                height: pxe(119);
                width: pxe(263);
                object-fit: contain;
                object-position: center;
            }


            div.social-handles {
                display: flex;
                margin: pxe(16) 0 0;
                width: 100%;
                justify-content: space-between;

                img {    
                    display: block;
                    height: max-content;
                    width: pxe(32);
                    object-fit: cover;
                    object-position: center;
                }

                img.email-logo {
                    display: block;
                    height: max-content;
                    width: pxe(45);
                    object-fit: contain;
                    object-position: center;

                }
            }

        }


        div.contact-div {
            display: flex;
            flex-direction: column;
            align-items: center;

            // display: grid;
            // grid-template-rows: repeat(3, pxe(60.8));
            // align-items: center;
            // justify-items: center;
            // justify-content: center;

            width: max-content;
            color: $white;
            height: pxe(182.4);

            span.contact-title {
                font-size: pxe(32);
                font-weight: 400;
            }


            div.contact-person-div-row {
                display: flex;
                margin-top: pxe(8);
                justify-content: center;

                div.contact-person-div {
                    margin: pxe(12) pxe(12) 0;
                    display: flex;
                    flex-direction: column;

                    span.position {
                        font-size: pxe(16);
                        font-weight: 700;
                    }
    
                    div {
                        margin-top: pxe(4);

                        span {
                            font-size: pxe(16);
                            margin: 0 pxe(16) 0 0;
                        }
                    }
    
                }
            }
            




        }
        
    }



    span.copyright {
        margin: pxe(8) 0;
        font-size: pxe(16);
        color: $white;
    }
}













@media only screen and (max-width: 768px) {



    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: $black;
        padding: pxe(16) pxe(32) 0;
        height: max-content;
    
    
        div.footer-div {
            display: flex;
            // justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
    
            width: 100%;
            height: max-content;
            background-color: $black;
            margin: pxe(16) 0;
    
    
    
            div.social-div {
                display: flex;
                flex-direction: column;
                height: max-content;
                width: max-content;

                order: 2;

                margin: pxe(64) 0;
                padding: 0 pxe(16);
    
                img.ista-logo {
                    display: block;
                    height: pxe(119);
                    width: 100%;
                    object-fit: contain;
                    object-position: center;

                    margin: 0 pxe(8);
                }
    
    
                div.social-handles {
                    display: flex;
                    margin: pxe(16) 0 0;
                    width: 100%;
                    justify-content: space-between;
    
                    img {    
                        display: block;
                        height: max-content;
                        width: pxe(32);
                        object-fit: contain;
                        object-position: center;
                    }
    
                    img.email-logo {
                        display: block;
                        height: max-content;
                        width: pxe(45);
                        object-fit: contain;
                        object-position: center;
    
                    }
                }
    
            }
    
    
            div.contact-div {
                
                order: 1;

                display: flex;
                flex-direction: column;
                align-items: center;
    
    
                width: 100%;
                color: $white;
                height: max-content;
    
                span.contact-title {
                    font-size: pxe(32);
                    font-weight: 400;
                }
    
    
                div.contact-person-div-row {
                    display: flex;
                    flex-direction: column;
                    height: max-content;
                    width: max-content;


                    div.contact-person-div {
                        display: flex;
                        flex-direction: column;
    
                        span.position {
                            display: flex;
                            font-size: pxe(18);
                        }
        
                        div {
                            margin-top: pxe(4);
                            display: flex;
    
                            span {
                                display: flex;
                                font-size: pxe(16);
                                margin: 0 pxe(16) 0 0;
                            }
                        }
        
                    }
                }
                
    
    

            }
            
        }
    
    
    
        span.copyright {
            margin: pxe(8) 0;
            font-size: pxe(16);
            color: $white;
        }
    }


}