@import '../UTILS/color.scss';
@import '../UTILS/function.scss';

$padding-large: pxe(60);
$padding-small: pxe(18);
$margin-top-large: pxe(54);
$column-gap: pxe(48);
$font-size-large: pxe(36);
$font-size-medium: pxe(18);
$line-height-medium: pxe(28);

@media only screen and (min-width: 768px) {
    div.Ipp {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        max-width: pxe(1203);
        background-color: $primary;
        color: $white;
        padding: $padding-large 0;

        div.ipp-sec {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            margin-top: $margin-top-large;
            column-gap: $column-gap;

            div.sec-desc {
                display: flex;
                flex-direction: column;
                align-items: center;

                h2 {
                    font-weight: 400;
                    font-size: $font-size-large;
                }

                p {
                    margin: $padding-small 0;
                    font-size: $font-size-medium;
                    font-weight: 400;
                }

                p.goto-p {
                    align-self: flex-end;

                    a {
                        font-size: $font-size-medium;
                        font-weight: 400;
                        color: $tertiary-blue;
                        transition: color 0.3s;

                        &:hover {
                            color: darken($tertiary-blue, 10%);
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    div.Ipp {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        max-width: pxe(1203);
        background-color: $primary;
        color: $white;
        padding: $padding-large 0;

        div.ipp-sec {
            display: flex;
            flex-direction: column;
            width: 100%;

            div.img-caraousal-container {
                order: 2;
            }

            div.sec-desc {
                display: flex;
                flex-direction: column;
                align-items: center;
                order: 1;

                h2 {
                    font-weight: 400;
                    font-size: $font-size-large;
                }

                p {
                    margin: $padding-small 0;
                    font-size: $font-size-medium;
                    font-weight: 400;
                    line-height: $line-height-medium;
                }

                p.goto-p {
                    align-self: flex-end;

                    a {
                        font-size: $font-size-medium;
                        font-weight: 400;
                        color: $tertiary-blue;
                        transition: color 0.3s;

                        &:hover {
                            color: darken($tertiary-blue, 10%);
                        }
                    }
                }
            }
        }
    }
}
