@import '../UTILS/color.scss';
@import '../UTILS/function.scss';









    
@media only screen and (min-width: 768px) {



    div.Itrix {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    
        width: 100%;
    
        max-width: pxe(1203);
        background-color: $primary;
        color: $white;
    
        padding: pxe(100)  0;
    
    
        h1 {
            font-size: pxe(48);
            font-weight: 400;
            color: $white;
        }
    
    
        div.itrix-sec {
    
            
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            margin-top: pxe(54);
            column-gap: pxe(48);
        
    
    
    
    
            div.sec-desc {
    
                display: flex;
                flex-direction: column;
                align-items: center;
            
    
                h2 {
                    margin-top: pxe(24);
                    font-weight: 400;
                    font-size: pxe(36);
                    order: 1;
                }
    
                p {
                    order: 3;
                    margin: pxe(16) 0;
                    font-size: pxe(18);
                    font-weight: 400;
                    min-width: pxe(214);
                    line-height: pxe(28);
                }
    
                div.img-caraousal-container {
                    order: 2;
                }
    
    
    
            }
        }
    
    
    }
    
    
    

}





    
@media only screen and (max-width: 768px) {


    div.Itrix {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    
        width: 100%;
    
        max-width: pxe(1203);
        background-color: $primary;
        color: $white;
    
        padding: pxe(100)  0;
    
    
        h1 {
            font-size: pxe(48);
            font-weight: 400;
            color: $white;
        }
    
    
        div.itrix-sec {            
            display: flex;
            flex-direction: column;
            width: 100%;
        
    


            div.img-caraousal-container {
                order: 2;
            }

            div.sec-desc {
                
                display: flex;
                flex-direction: column;
                align-items: center;

                padding: 0 pxe(16);
                
                order: 1;
    
                h2 {
                    margin-top: pxe(24);
                    font-weight: 400;
                    font-size: pxe(36);
                    
                }
    
                p {
                    margin: pxe(16) 0;
                    font-size: pxe(18);
                    font-weight: 400;
                    min-width: pxe(214);
                    line-height: pxe(28);
                }   
    
    
            }
        }
    
    
    }
    
    

}