@import '../UTILS/color.scss';
@import '../UTILS/function.scss';








@media only screen and (min-width: 768px) {

    
    div.Logo {
        background-color: $primary;
        height: max-content;
        max-width: pxe(1260);
        padding: pxe(60) 0;
    
    
        h2 {
            font-size: pxe(48);
            color: $white;
            font-weight: 400;
        }
    
    
        div.logo-container {
    
            margin-top: pxe(48);
            background-color: $secondary;
            border-radius: pxe(32);
    
            padding: pxe(32);
    
    
            // display: grid;
            // grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
            // column-gap: 10px;
            // row-gap: 10px;
            // align-items: center;
            // justify-content: center;
            // justify-items: center;
    
    
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
    
            img.img-logo {
                height: max-content;
                width:  max-content;
    
                padding: pxe(10);
    
                max-width: pxe(150);
                max-height: pxe(150);
    
                object-fit: contain;
                object-position: center;
                margin: pxe(16);
    
                background-color: $white;
    
                // background: rgba(255, 255, 255, 0.25);
                // backdrop-filter: blur(pxe(41.5127));
                /* Note: backdrop-filter has minimal browser support */
                // border-radius: pxe(18.1618);
            }
        }
    
    
    
    
    }
    
    
    
    
}



@media only screen and (max-width: 768px) {
    div.Logo {
        background-color: $primary;
        height: max-content;
        max-width: pxe(1260);
        padding: pxe(60) 0;
    
    
        h2 {
            font-size: pxe(48);
            color: $white;
            font-weight: 400;
        }
    
    
        div.logo-container {
    
            margin-top: pxe(48);
            background-color: $secondary;
            border-radius: pxe(32);
    
            padding: pxe(32) 0;
    
            // display: grid;
            // grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
            // column-gap: 10px;
            // row-gap: 10px;
            // align-items: center;
            // justify-content: center;
            // justify-items: center;
    
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
    
            img.img-logo {
                height: max-content;
                width:  max-content;
    
    
                max-width: pxe(150);
                max-height: pxe(150);
    
                object-fit: contain;
                object-position: center;
                margin: pxe(16);
    
                background-color: $white;
    
                // background: rgba(255, 255, 255, 0.25);
                // backdrop-filter: blur(pxe(41.5127));
                /* Note: backdrop-filter has minimal browser support */
                // border-radius: pxe(18.1618);
            }
        }
    
    
    
    
    }
    
    
    
    
}





