@import '../UTILS/color.scss';
@import '../UTILS/function.scss';

@media only screen and (min-width: 768px) {
    div.Team {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        min-height: 100vh;
        width: 100%;
        background-color: $primary;
        padding: pxe(100) pxe(130);
        cursor: pointer;

        h1 {
            font-size: pxe(48);
            font-weight: 400;
            color: $white;
        }

        div.team-wrapper {
            margin-top: pxe(16);
            padding: pxe(10) pxe(24);
            background-color: $secondary;
            border-radius: pxe(18.25);

            div.staff-sec {
                display: flex;
                justify-content: center;
                flex-wrap: nowrap;

                div.avatar-container { 
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: pxe(380);
                    height: max-content;
                    padding: pxe(18);

                    img.avatart-img {
                        display: block;
                        height: pxe(200);
                        width: pxe(200);
                        object-position: center;
                        object-fit: cover;
                        border-radius: pxe(20); // Changed to rounded square
                        background-color: $white;
                    }

                    div.nm-pos-div {
                        display: flex;
                        flex-direction: column;
                        width: 100%;

                        span.name {
                            font-size: pxe(24);
                            font-weight: 400;
                            color: $white;
                            margin-top: pxe(16);
                        }
                        span {
                            font-size: pxe(20);
                            margin-top: pxe(4);
                            font-weight: 400;
                            color: $white;
                        }
                    }
                }
            }

            div.itrix-sec {
                overflow: hidden;
                display: flex;
                flex-direction: row;

                div.avatar-caraosal-slider {
                    display: flex;
                    width: max-content;
                    animation-name: running-carousel;
                    animation-duration: 60s;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;
                    animation-direction: reverse;
                    animation-fill-mode: forwards;
                    animation-play-state: inherit;

                    div.avatar-container { 
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: pxe(380);
                        height: max-content;
                        padding: pxe(18);

                        img.avatart-img {
                            display: block;
                            height: pxe(200);
                            width: pxe(200);
                            object-position: center;
                            object-fit: cover;
                            border-radius: pxe(20); // Changed to rounded square
                            background-color: $white;
                        }

                        div.nm-pos-div {
                            display: flex;
                            flex-direction: column;
                            width: 100%;

                            span.name {
                                font-size: pxe(24);
                                font-weight: 400;
                                color: $white;
                                margin-top: pxe(16);
                            }
                            span {
                                font-size: pxe(20);
                                margin-top: pxe(4);
                                font-weight: 400;
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    div.Team {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        min-height: 100vh;
        width: 100%;
        background-color: $primary;
        padding: pxe(100) 0;
        cursor: pointer;

        h1 {
            font-size: pxe(48);
            font-weight: 400;
            color: $white;
        }

        div.team-wrapper {
            margin-top: pxe(16);
            padding: pxe(10) pxe(24);
            background-color: $secondary;
            border-radius: pxe(18.25);

            div.staff-sec {
                display: flex;
                justify-content: center;
                flex-wrap: nowrap;
                flex-direction: column;
                align-items: center;

                div.avatar-container { 
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: pxe(380);
                    height: max-content;
                    padding: pxe(18);

                    img.avatart-img {
                        display: block;
                        height: pxe(170);
                        width: pxe(170);
                        object-position: center;
                        object-fit: cover;
                        border-radius: pxe(20); // Changed to rounded square
                        background-color: $white;
                    }

                    div.nm-pos-div {
                        display: flex;
                        flex-direction: column;
                        width: 100%;

                        span.name {
                            font-size: pxe(24);
                            font-weight: 400;
                            color: $white;
                            margin-top: pxe(16);
                        }
                        span {
                            font-size: pxe(20);
                            margin-top: pxe(4);
                            font-weight: 400;
                            color: $white;
                        }
                    }
                }
            }

            div.itrix-sec {
                width: 100%;
                overflow: hidden;
                display: flex;
                flex-direction: row;
                margin-top: pxe(16);

                div.avatar-caraosal-slider {
                    display: flex;
                    width: max-content;
                    animation-name: running-carousel;
                    animation-duration: 60s;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;
                    animation-direction: reverse;
                    animation-fill-mode: forwards;
                    animation-play-state: inherit;

                    div.avatar-container { 
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: pxe(300);
                        height: max-content;
                        padding: pxe(18);

                        img.avatart-img {
                            display: block;
                            height: pxe(200);
                            width: pxe(200);
                            object-position: center;
                            object-fit: cover;
                            border-radius: pxe(20); // Changed to rounded square
                            background-color: $white;
                        }

                        div.nm-pos-div {
                            display: flex;
                            flex-direction: column;
                            width: 100%;

                            span.name {
                                font-size: pxe(24);
                                font-weight: 400;
                                color: $white;
                                margin-top: pxe(16);
                            }
                            span {
                                font-size: pxe(20);
                                margin-top: pxe(4);
                                font-weight: 400;
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes running-carousel {
    0% {
        transform: translateX(-100%);
    }
}
