@import '../UTILS/color.scss';
@import '../UTILS/function.scss';



@media only screen and (min-width: 768px) {


    div.Team {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    
        flex-wrap: nowrap;
        min-height: 100vh;
        width: 100%;
        background-color: $primary;
        padding: pxe(100) pxe(130);
        
        cursor: pointer;
    
    
    
    
        h1 {
            font-size: pxe(48);
            font-weight: 400;
            color: $white;
        }
    
    
        div.team-wrapper {
            margin-top: pxe(16);
            padding: pxe(10) pxe(24);
            background-color: $secondary;
            border-radius: pxe(18.25);


            div.staff-sec {
                display: flex;
                justify-content: center;
                flex-wrap: nowrap;
        
                div.avatar-container { 
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: pxe(380);
                    height: max-content;
                    padding: pxe(18);
        
        
        
                    img.avatart-img {
                        display: block;
                        height: pxe(200);
                        width:  pxe(200);
                        object-position: center;
                        object-fit: cover;
                        border-radius: 10%;
                        background-color: $white;
                    }
        
        
                    div.nm-pos-div {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
        
                        span.name {
                            font-size: pxe(24);
                            font-weight: 400;
                            color: $white;
                            margin-top: pxe(16);
                        }
                        span {
                            font-size: pxe(20);
                            margin-top: pxe(4);
                            font-weight: 400;
                            color: $white;
                        }
                    }
                }
            }
        
        
            div.itrix-sec {
                // display: grid;
                // grid-template-columns: repeat(auto-fill, max-content);
                // justify-content: center;
                // justify-items: center;
                // align-items: center;
                // margin-top: 52px;
                overflow: hidden;
        
                display: flex;
                flex-direction: row;
                // flex-shrink: 0;
        
        
        
        
                div.avatar-caraosal-slider {
                    display: flex;
                    // flex-direction: row;
                    // flex-wrap: nowrap;
        
                    // min-width: 1200px;
        
                    // min-width: 100%;
                    width: max-content;
                    // margin-left: 500px;
        
        
                    // position: absolute;
                    // left: 0;
        
                    // transform: translateX(-80%);
        
                    animation-name: running-carousel;
                    animation-duration: 60s;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;
                    animation-direction: reverse;
                    animation-fill-mode: forwards;
                    animation-play-state: inherit;
        
        
        
                    div.avatar-container { 
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: pxe(380);
                        height: max-content;
                        padding: pxe(18);
        
        
        
                        img.avatart-img {
                            display: block;
                            height: pxe(200);
                            width:  pxe(200);
                            object-position: center;
                            object-fit: cover;
                            border-radius: 10%;
                            background-color: $white;
                        }
            
            
                        div.nm-pos-div {
                            display: flex;
                            flex-direction: column;
                            width: 100%;
            
                            span.name {
                                font-size: pxe(24);
                                font-weight: 400;
                                color: $white;
                                margin-top: pxe(16);
                            }
                            span {
                                font-size: pxe(20);
                                margin-top: pxe(4);
                                font-weight: 400;
                                color: $white;
                            }
                        }
                    }
                }
        
        
                
        
        
            }
        }
    
        
    
    }
}



@media only screen and (max-width: 768px) {


    div.Team {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    
        flex-wrap: nowrap;
        min-height: 100vh;
        width: 100%;
        background-color: $primary;
        padding: pxe(100) 0;
        
        cursor: pointer;
    
    
    
    
        h1 {
            font-size: pxe(48);
            font-weight: 400;
            color: $white;
        }
    
    
    
        div.team-wrapper {
            margin-top: pxe(16);
            padding: pxe(10) pxe(24);
            background-color: $secondary;
            border-radius: pxe(18.25);
    
            div.staff-sec {
                display: flex;
                justify-content: center;
                flex-wrap: nowrap;
                flex-direction: column;
                align-items: center;
        
        
                div.avatar-container { 
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: pxe(380);
                    height: max-content;
                    padding: pxe(18);
        
        
        
                    img.avatart-img {
                        display: block;
                        height: pxe(170);
                        width:  pxe(170);
                        object-position: center;
                        object-fit: cover;
                        border-radius: 100%;
                        background-color: $white;
                    }
        
        
                    div.nm-pos-div {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
        
                        span.name {
                            font-size: pxe(24);
                            font-weight: 400;
                            color: $white;
                            margin-top: pxe(16);
                        }
                        span {
                            font-size: pxe(20);
                            margin-top: pxe(4);
                            font-weight: 400;
                            color: $white;
                        }
                    }
                }
            }
        
        
            div.itrix-sec {
                // display: grid;
                // grid-template-columns: repeat(auto-fill, max-content);
                // justify-content: center;
                // justify-items: center;
                // align-items: center;
                // margin-top: 52px;
                width: 100%;
                overflow: hidden;
        
                display: flex;
                flex-direction: row;
                // flex-shrink: 0;
                
                margin-top: pxe(16);
        
        
        
                div.avatar-caraosal-slider {
                    display: flex;
                    // flex-direction: row;
                    // flex-wrap: nowrap;
        
                    // min-width: 1200px;
        
                    // min-width: 100%;
                    width: max-content;
                    // margin-left: 500px;
        
        
                    // position: absolute;
                    // left: 0;
        
                    // transform: translateX(-80%);
        
                    animation-name: running-carousel;
                    animation-duration: 60s;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;
                    animation-direction: reverse;
                    animation-fill-mode: forwards;
                    animation-play-state: inherit;
        
        
        
                    div.avatar-container { 
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: pxe(300);
                        height: max-content;
                        padding: pxe(18);
        
        
        
                        img.avatart-img {
                            display: block;
                            height: pxe(200);
                            width:  pxe(200);
                            object-position: center;
                            object-fit: cover;
                            border-radius: 100%;
                            background-color: $white;
                        }
            
            
                        div.nm-pos-div {
                            display: flex;
                            flex-direction: column;
                            width: 100%;
            
                            span.name {
                                font-size: pxe(24);
                                font-weight: 400;
                                color: $white;
                                margin-top: pxe(16);
                            }
                            span {
                                font-size: pxe(20);
                                margin-top: pxe(4);
                                font-weight: 400;
                                color: $white;
                            }
                        }
                    }
                }
        
        
                
        
        
            }
        }
    
    }
}

.title {
    margin: 30px 0;
    font-size: pxe(36);
    font-weight: 700;
    color: $primary;
    text-align: center;
    letter-spacing: 2px;
    border-bottom: 2px solid $secondary;
    padding-bottom: 10px;
}








@keyframes running-carousel {
    0% {
        transform: translateX(-100%);
    }
}