

$primary: #0A2640;
$secondary: #1C3D5B;
$tertiary-green: #69E6A6;
$tertiary-blue: #0DBBFC;
$white: #ffffff;
$black: #151515;
$success-green: #14A44D;




:export {
    primary: $primary;
    secondary: $secondary;
    tertiary-green: $tertiary-green;
    tertiary-blue: $tertiary-blue;
    white: $white;
    black: $black;
    success-green: $success-green;

}