$primary: #0A2640;
$secondary: #6c788a;
$tertiary-green: #7FDBB6;
$tertiary-blue: #3FC1C9;
$white: #F4F4F9;
$black: #2B2D42;
$success-green: #28A745;

:export {
    primary: $primary;
    secondary: $secondary;
    tertiary-green: $tertiary-green;
    tertiary-blue: $tertiary-blue;
    white: $white;
    black: $black;
    success-green: $success-green;
}
